<html>
<head>
  <style>
      body {
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 14px;
          line-height: 1.428571429;
          color: #333333;
          background-color: #ffffff;
          margin: auto;
          width: 800px;
      }
      .logo {
          font-size: 36px;
          font-weight: 100;
          color: #0075C4;
      }
      .title {
          font-size: 24px;
          color: #888;
          font-weight: 300;
      }
      .summary-card {
          border: 2px #E2E2E2 solid;
          padding: 10px;
      }
      table {
          border: none;
          width: 100%;
          text-align: left;
          border-collapse: collapse;
      }
      th {
          background-color: #f2f2f2;
          padding: 10px;
      }
      td {
          padding-left: 10px;
      }
      .percentage {
          font-size: 36px;
          font-weight: 100;
      }
      .pass {
          color: #20744c;
          font-size: 24px;
          font-weight: bold;
          text-transform: uppercase;
      }
      .fail {
          color: #782b0d;
          font-size: 24px;
          font-weight: bold;
          text-transform: uppercase;
      }
      .test-case-number {
          font-size: 36px;
      }
      .btn {
          border: 2px solid #0075C4;
          padding: 6px 12px;
          color: #0075C4;
          text-decoration: none;
          font-size: 14px;
          font-weight: bold;
          float: right;
          margin-bottom: 8px;
          text-transform: uppercase;
      }
      .btn:hover {
          background-color: #f2f2f2;
      }
      div.error {
          color: #a94442;
          background-color: #f2dede;
          border-color: #ebccd1;
          padding: 15px;
          margin-bottom: 20px;
          border: 1px solid transparent;
          border-radius: 4px;
      }
      div.error span.important {
          font-weight: bold;
      }
      div.error span.secondary {
          color: #888;
      }
  </style>
</head>
<body>
<h1><span class="logo">MADiE</span><span class="title">: TEST CASE RESULTS BY MEASURE</span></h1>
<h1 class="measure-title"><%=measure.cms_id%>: <%=measure.title%></h1>

<% population_crit_results.each do |pop_crit| %>

  <div class="summary-card">
    <% if population_crit_results.length > 1%>
      <h2>Population: <%= pop_crit["groupNumber"] %></h2>
    <% end %>
    <table>
      <tbody>
      <tr>
        <th>RESULT</th>
        <th>CATEGORY</th>
      </tr>
      <tr>
        <%
          result = pop_crit["testCaseDTOs"].any? { |test_case| pop_fail(test_case) || strat_fail(test_case)} ? 'fail' : 'pass'
        %>
        <td class="<%= result %>"><%= result %></td>
        <% passed_count = 0 %>
        <% total = pop_crit["testCaseDTOs"].length %>
        <% pop_crit["testCaseDTOs"].each do |test_case| %>
        <%  passed_count+= 1 unless (pop_fail(test_case) || strat_fail(test_case)) %>
        <% end %>
        <td><span class="test-case-number"><%= passed_count %></span>/<%= total %></td>
      </tr>
      <tr>
        <td class="percentage"><%= ((passed_count.to_f / total) * 100).floor %>%</td>
        <td>Passing</td>
      </tr>
      <tr>
        <td class="percentage"><%= pop_crit["coverage"] %>%</td>
        <td>Coverage</td>
      </tr>
      </tbody>
    </table>
  </div>
  <br>
  <% pop_crit["testCaseDTOs"].each_with_index do |test_case, index| %>
    <br>
    <table>
      <tr>
        <td>
          <h2>
            <% result = (!pop_fail(test_case) && !strat_fail(test_case)) ? 'pass' : 'fail' %>
            <span class="<%= result %>"><%= result %>: </span>
            <% unless html_errors[test_case["testCaseId"]] %>
              <a href="<%= File.join(".","html","#{index+1}_#{test_case["lastName"]}_#{test_case["firstName"]}.html")%>"><%=test_case["lastName"]%>, <%=test_case["firstName"]%></a>
            <% else %>
              <%=test_case["lastName"]%>, <%=test_case["firstName"]%>
            <% end %>
            <% unless qrda_errors[test_case["testCaseId"]] %>
              <a class="btn" href="<%= File.join(".","qrda","#{index+1}_#{test_case["lastName"]}_#{test_case["firstName"]}.xml")%>">qrda</a>
            <% end %>
          </h2>
        </td>
      </tr>
    </table>
    <% if qrda_errors[test_case["testCaseId"]] %>
      <div class="error">
        <span class="important">There was an error exporting the QRDA for this Test Case:</span>
        <% data_criteria = qrda_errors[test_case["testCaseId"]].data_criteria rescue nil %>
        <% if data_criteria %>
          <span class="important">could not generate appropriate QRDA content for <%= data_criteria.description %></span>
          <span class="secondary">(<%= qrda_errors[test_case["testCaseId"]].message %>)</span>
        <% else %>
          <%= qrda_errors[test_case["testCaseId"]].message %>
        <% end %>
      </div>
    <% end %>
    <% if html_errors[test_case["testCaseId"]] %>
      <div class="error">
        <span class="important">There was an error exporting the HTML for this Test Case:</span>
        <% data_criteria = html_errors[test_case["testCaseId"]].data_criteria rescue nil %>
        <% if data_criteria %>
          <span class="important">could not generate appropriate HTML content for <%= data_criteria.description %></span>
          <span class="secondary">(<%= html_errors[test_case["testCaseId"]].message %>)</span>
        <% else %>
          <%= html_errors[test_case["testCaseId"]].message %>
        <% end %>
      </div>
    <% end %>
    <table>
      <tr>
        <th>Status</th>
        <th>Population</th>
        <th>Expected</th>
        <th>Actual</th>
      </tr>
      <% test_case["populations"].each do |pop| %>
        <% pop["name"] = 'OBSERV_1' if pop["name"] == 'OBSERV'%>
        <tr>
          <% if pop["pass"] %>
            <td class="pass">&#10003;</td>
          <% else %>
            <td class="fail">&times;</td>
          <% end %>
          <td><%= population_abbr[pop["name"]] %></td>
          <td><%= pop["expected"] %><%= pop["unit"] %></td>
          <td><%= pop["actual"] %><%= pop["unit"] %></td>
        </tr>
      <% end %>
      <% unless test_case["stratifications"].empty? %>
        <% test_case["stratifications"].each do |strats| %>
          <% strats["stratificationDtos"].each do |strat| %>
            <tr>
              <% if strat["pass"] %>
                <td class="pass">&#10003;</td>
              <% else %>
                <td class="fail">&times;</td>
              <% end %>
              <td><%= population_abbr[strat["name"]].nil? ? strat["name"] : population_abbr[strat["name"]] %></td>
              <td><%= strat["expected"] %><%= strat["unit"] %></td>
              <td><%= strat["actual"] %><%= strat["unit"] %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>
  <% end %>
  <br><br>
<% end %>
</body>
</html>